body {
  background-color: #cecece;
}
.visual {
  display: flex;
  justify-content: center;
}
.visual-container,
.visual-container2 {
  border: 1px solid #444;
  height: 400px;
  width: 400px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}