body {
  background-color: #cecece;
}
.visual {
  display: flex;
  justify-content: center;
}
.visual-container,
.visual-container2 {
  border: 1px solid #444;
  height: 400px;
  width: 400px;
}

.grid path {
  stroke: transparent;
}
.grid .tick line {
  stroke: rgba(0,0,0,0.2);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.circle {
  fill: blue;
}
.circle--positive {
  fill: green;
}
.circle--negative {
  fill: red;
}

line.train {
  stroke-width: 1;
}

line.train {
  stroke: purple;
}
line.train:last-child {
  stroke-width: 2;
}
line.train:not(:last-child) {
  opacity: 0.7;
}

line.division {
  stroke: purple;
  stroke-width: 2;
}
line.division--full {
  stroke: orange;
}
line.division--user-defined {
  stroke: red;
  stroke-width: 3;
}